body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: #ace0f8
    
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
     /* Green */
    color: #ffffff;
    font: 20px Montserrat, sans-serif;
    height: 100%;
  }
  .bg-2 { 
     /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
     /* White */
    color: #555555;
  }
  .bg-4 { 
    /* Black Gray */
    color: #fff;
  }

  .col-sm-4 {
    font: 20px Montserrat, sans-serif;
    color: black;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    font: 20px Montserrat, sans-serif;
    background-color: #ace0f8
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;

  }

  .navbar-header {

}
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

.container-fluid h3 {
    font: 28px Montserrat, sans-serif;
    color: black;
    
}

.container-fluid p {

    text-align: center;
    vertical-align: bottom;
    margin-top: 100px;
    background-color: #b3cef781
}

.footer {
    height: 100px;
    background-color: #b3cef781
}